@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #878787;
  --tg-theme-link-color: #1577e1;
  --tg-theme-button-color: #5ac8fb;
  --tg-theme-button-text-color: #e7fdfe;
  --tg-theme-secondary-bg-color: #f3f2f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffadad;
}